@import "../../styles/colors.scss";
textarea {
    background-color: $main-bg;
    border: 1px solid $black;
    resize: none;
    outline: none;
    margin-top: 8px;
    label {
        color: $black;
    }
}